<div>
    <nav class="navbar navbar-expand-lg p-3" style="background-color: #27223e; padding: 0.2rem 3rem !important;">
        <div class="container-fluid" style="display: flex;
        align-items: center;
        justify-content: start;">
          <a class="navbar-brand" href="#">
            <img id="header-logo" style="width: 50px; height: 50px;" alt="White Deer Innovation" src="https://img77.uenicdn.com/image/upload/v1665448031/business/d0171b6e-d0af-4b74-8fdd-f6f3113312bf.jpg" sizes="200px" />
          </a>
          <span style="color: #fff;margin-left: 2vw;font-size: 1em;">Background Verification</span>
        </div>
    </nav>
</div>


<h2>Approval Page</h2>

<div *ngFor="let document of documents">
  <div>
    <h3>{{ document.title }}</h3>
    <p>Label: {{ document.label }}</p>
    <p>Status: {{ document.mandatory ? 'Mandatory' : 'Optional' }}</p>
    <p>Progress: {{ document.progress }}%</p>
    <p>Approved: {{ document.approved ? 'Yes' : 'No' }}</p>
    <button (click)="approveDocument(document)">Approve</button>
  </div>
</div>
